body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ------------------- background-color: rgb(26, 26, 26); ------------------- */
    background-image: url(hollowed-boxes.svg);
    background-position: center;
    background-repeat:repeat;
    background-size: contain;
    overflow:visible;
}

#gallery{
    width: 80%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,300px);
    grid-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* ---------------------------- overflow: hidden; --------------------------- */
}
#gallery img{
    width: 100%;
    height: max-content;
    border: 3px solid white;
    transition: 250ms;
}

#gallery img:hover{
    border: 3px solid white;
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.432);
    /* ------------------- transition: all 300ms ease-in-out; ------------------- */
}

#absolute-image{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.842);
    top: 0;
    transition: 250ms;
    /* ---------------------------- overflow: hidden; --------------------------- */
}
#viewer{
    width: 36%;
    height: auto;
    /* ------------------------- background-color: teal; ------------------------ */
}
#viewer img{
    width: 100%;
    border: 3px solid white;
}
.exit{
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.fa-times{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.555);
    padding-top: 1rem;
}
.fa-times:hover{
    color: rgba(255, 255, 255, 0.781);
}

@media(max-width:1125px){
    #gallery{
        width: 90%;
    }
}
@media (min-width:666px) and (max-width:948px){
    #gallery{
        grid-template-columns: repeat(auto-fit,200px);
    }
}
@media (min-width:350px) and (max-width:604px){
    #gallery{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:667px) and (max-width:1204px){
    #gallery{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:605px) and (max-width:666px){
    #gallery{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:350px){
    #gallery{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (min-width:800px) and (max-width:1000px){
    #viewer{
        width: 50%;
    }
    .exit{
        width: 25%;
        height: 100%;
    }
}

@media (min-width:300px) and (max-width:800px){
    #viewer{
        width: 80%;
    }
    .exit{
        width: 10%;
        height: 100%;
    }
}
@media (min-width:1000px) and (max-width:1500px){
    #viewer{
        width: 40%;
    }
    .exit{
        width: 30%;
        height: 100%;
    }
}